<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Buscar..."
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8">
  <div class="toolbar" style="text-align: center">
    <button
      mat-button
      (click)="abrirInsertarModal()"
      style="background-color: green; color: white"
    >
      Insertar Contacto
    </button>
  </div>
  <br />
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let personas">{{ personas.Id }}</td>
    </ng-container>
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let personas">{{ personas.Nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="ApPaterno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>apPaterno</th>
      <td mat-cell *matCellDef="let personas">{{ personas.ApPaterno }}</td>
    </ng-container>
    <ng-container matColumnDef="ApMaterno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>apMaterno</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.ApMaterno }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Alias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alias</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.Alias }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.Direccion }}
      </td>
    </ng-container>
    <ng-container matColumnDef="NumMovil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NumMovil</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.NumMovil }}
      </td>
    </ng-container>
    <ng-container matColumnDef="NumCasa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NumCasa</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.NumCasa }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.Correo }}
      </td>
    </ng-container>
    <ng-container matColumnDef="NumEmergencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NumEmergencia</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.NumEmergencia }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Empresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.Empresa }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Departamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.Departamento }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Puesto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</th>
      <td mat-cell *matCellDef="let personas">
        {{ personas.Puesto }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let elemento">
        <mat-icon></mat-icon>

        <mat-icon class="action-btn green" (click)="abrirEditarModal(elemento)"
          >edit</mat-icon
        >
        <mat-icon></mat-icon>
        <mat-icon class="action-btn red" (click)="eliminarContacto(elemento.Id)"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>
