<div class="contacto">
  <img class="contactImage" src="./assets/contactImg.jpg" />
  <div class="options">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apeido paterno</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apeido materno</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alias (Opcional)</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Empresa</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>
